extends layout

block content
    .container
        div.row
            div.col-md-6.offset-md-3
                h1= title
                form(name="add-estimation", method="post" action="/users/save-new-user")
                    div.form-group
                        label First name
                        input.form-control(type="text", name="fname" placeholder="Example : Kasun")

                    div.form-group
                        label Last name
                        input.form-control(type="text", name="lname"  placeholder="Example : Kulathunga")

                    div.form-group
                        label Username
                        input.form-control(type="text", name="username"  placeholder="Example : kasunkul")

                    div.form-group
                        label Email
                        input.form-control(type="email", name="email"  placeholder="Example : kasunkul@gmail.com")

                    div.form-group
                        label Password
                        input.form-control(type="password", name="password"  placeholder="Password")

                    div.form-group
                        label Retype Password
                        input.form-control(type="password", name="confirm-password"  placeholder="Confirm password")

                    div.form-group
                        div.row
                            div.col-md-3.offset-md-6
                                input.form-control.btn-success(type="submit", value="Register")

                            div.col-md-3
                                input.form-control(type="reset", value="Reset")

                    div.row
                        div.col-md-6
                            a(href="/users/login") Already a member?
